body {
	background: #00b6ed;
	font-family: helvetica;
}

header {
	height: 120px;
	-webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
	margin: 0 0 10px 0;
	background: white;
}

h6 {
	font-style: 10px;
	text-align: center;
	color: #00b6ed;
	padding-bottom: 10px;
}

#title {
	color: #00b6ed;
	font-size: 72px;
	text-align: center;
	font-weight: bold;
	padding-top: 15px;
}
.tweet {
	-webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
	background: white;
	margin: 10px auto;
	width: 50%;
	padding: 20px;
}

.message {
	font-size: 22px;
	margin: 10px 0 10px 0;
	text-align: center;
}

.user {
	color: #00b6ed;
}

.time {
	font-size: 10px;
	text-align: right;
}
.timeline {
	color: black;
}

.timeline-message {
	font-size: 14px;
	color: gray;
	margin: 5px 0;	
}

.timeline-time {
	font-size: 8px;
	border-bottom: 1px dotted gray;
	color: #00b6ed;
}

.reload{
	right: 20px;
	bottom: 20px;
}